$img-height: 35px;
$comment-font-size: 13px;

.comment {
	background: $background-color;
	clear: both;
	display: flex;	
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: $img-height;	
  padding: 1rem;

	.user-image {
		margin-right: 10px;
		img {
			height: $img-height;
			width: $img-height;
		}
	}

	.nickname {
		font-size: $comment-font-size;
		font-weight: 600;
	}

	.comment-content {
		flex: 1;		
	}

	.comment-text {
		font-size: $comment-font-size;

		p:last-child {
			margin-bottom: 0px;
		}

		a {
			text-decoration: underline;
    	color: $secondary-color;
		}
	}

	.timestamp {
		display: block;
		text-align: right;
	}
}

#new_comment {
	margin-top: 20px;
}

.more_comments_button{
	cursor: pointer;
	margin-top: 10px; 
}

.comment-hidden {
	color: $medium-gray;

	.dropdown-caret {
		color: $medium-gray;
	}

	.nickname {
		a {
			color: $medium-gray;
		}
	}

	.timestamp {
		color: $medium-gray;
	}
}