<div class="card">
  <div class="card-block">
    <p class="card-text">
      <span class="text-muted">
        <%= message.timestamp %>: <%= message.user.name %> says
      </span><br>
      <%= message.body %>
    </p>
  </div>
</div>