.message-container
  .user-image-small
    = link_to user_path(message.user) do
      = image_tag message.user_photo, alt: message.user.decorate.name.truncate(27)
  .message-body-container
    .message-user-info
      .user-info
        .display-name
          = link_to message.user.decorate.name, user_path(message.user)
    .card style=("margin-bottom: 0px;") 
      .card-section
        .message-body
          p
            = message.body
p.float-right
  small= message.timestamp
 