<h1>Friends</h1>

<ul>
  <% current_user.friends.each do |f| %>
  <li><%= f.name %></li>
  <% end %>
</ul>

<p class="lead">
  <%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %>
</p>

<ul>
  <%= render @chat_rooms %>
</ul>