.callout-user-info {
	
	.name {		    
		color: $anchor-color;
		display: block;
    font-size: 16px;
    font-weight: 600;
    word-break: break-all;
	}

	.user-tags {
		display: block;
		margin-top: 10px;
	}
}

.label-user-attributes {
	margin-right: 5px;
}

.partner-info {
	font-size: 14px;
}

.user-image-lg {
	display: inline-block;

	img {
		min-height: 80px;
		min-width: 80px;
	}
}

.user-name {
	display: inline-block;
}

.user-header {
	font-size: 14px;
	font-weight: 600;
}