.user-friends {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	// justify-content: space-around;

	a {
		width: 33%;

		.image-wrapper {			
			height: 100%;
			position: relative;
			width: 100%;

			.display-name {
				bottom: 5%;
				right: 0;
				left: 10%;
				position: absolute;
				color: white;
				font-size: 8px;
				font-weight: 600;
				text-shadow: 0px 2px 1px #3b3b3b;
			}
		}
	}

}

.friend-count {
	font-size: 12px;
	margin-left: 5px;
}