.message-list {
  height: 400px;
  overflow: auto;
}

.message-list-item {
  @include transition(background, 300ms);
  clear: both;
  padding: 10px 0px 5px;
  margin-top: 10px;

  &:hover {
    @include transition(background, 300ms);
    background: $light-gray;      
  }
}

.message-list-display-name {
  font-weight: 300 !important;
  text-align: left;
}

.message-list-display-name.is-active {
  color: $dark-gray;
  font-weight: 600 !important;
}

.message-list-item.is-active {
  background: $super-light-gray
}
