<h1> <%= @user.first_name %>'s Profile </h1>

<div id="profile">
    
<div id="request">
<%= render 'shared/request_send_buttons.html.erb'  %>
</div>

<div id="pending_request">
<%= render 'shared/request_accept_buttons.html.erb' %>
</div>

<div id="friend_list">
<%= render 'shared/friend_list.html.erb' %>
</div>
    
</div>






 





