#pending-friend-requests {
	background: $white;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	border: 1px solid rgba(0, 0, 0, .15);
	padding-bottom: 0px;
	min-height: 70px;	
}

#pending-friend-request-list {
	background: $white;
}

.request-container {
	display: flex;

	.display-name {
		color: $anchor-color;
		font-size: 14px;
    font-weight: 600;
	}

	.timestamp {
		color: $light-blue;
		font-size: 10px;
	}
}

.request-content {
	flex: 0.5;
	margin-left: 10px;
}

.request-actions {
	flex: 0.7;

	.button {
		font-size: 0.75rem !important;
	}
}