div class=("comment #{'comment-hidden' if !comment.visible || comment.deleted?} #{'is-hidden' unless CommentVisibilityPolicy.new(current_user: current_user, comment: comment).visible?}") data-comment-id="#{comment.id}" 
  - if CommentVisibilityPolicy.new(current_user: current_user, comment: comment).visible?
    .user-image
      = image_tag comment.user_photo, alt: comment.user.display_name
    .comment-content
      - if CommentOptionsVisibilityPolicy.new(comment: comment, user: current_user).visible?
        a.float-right data-toggle="comment-options-dropdown-#{comment.id}" 
          i.fa.fa-caret-down.dropdown-caret aria-hidden="true" 
        .dropdown-pane.bottom.right data-dropdown="" data-hover="true" data-hover-pane="true" id="comment-options-dropdown-#{comment.id}" 
          ul.post-options-menu.no-bullet
            - if comment.user == current_user
              a class="edit-comment" data-comment-id="#{comment.id}"
                li
                  i class='fa fa-pencil' aria-hidden='true'
                  |  編集
            = link_to "<li><i class='fa fa-trash' aria-hidden='true'></i> #{comment.visible ? '非表示' : '表示'}</li>".html_safe, comment_visibility_toggles_path(comment), method: :post, remote: true if comment.user.id == current_user.id
            = link_to "<li><i class='fa fa-trash' aria-hidden='true'></i> 削除</li>".html_safe, comment_path(comment), method: :delete, data: {confirm: "本当に削除してよろしいですか？"}, remote: true
      span.nickname
        = link_to comment.user.display_name, user_path(comment.user) unless comment.deleted?
        = "（非表示）" unless comment.visible      
      span.comment-text id="js-comment-content-#{comment.id}"
        - if comment.deleted?
          p コメント主によって削除されました
        - else          
          = auto_link(simple_format comment.text, html: {target: '_blank'})
      div
        = image_tag comment.photo, class: 'comment-photo' if comment.photo && !comment.deleted?
      span.timestamp
        = time_ago_in_words(comment.created_at)
        | 前
 