<% post.comments.each do |comment| %>
			<span class="user-image">
				<%= image_tag post.user_photo %>
			</span>
    <%= link_to post.user.display_name, user_path(post.user) %>
    <%= comment.text %><br>
<% end %> 

