<div class="comment">
	<span class="user-image">
		<%= image_tag comment.user_photo %>
	</span>
	<div class="nickname">
		<%= link_to comment.user.display_name, user_path(comment.post_user) %>
	</div>
	<div class="comment-text">
		<%= comment.text %>
	</div>
</div>
