<% flash.each do |message_type, message| %>
  <% if message_type == "notice" %>
  	<div class="callout primary" data-closable>
		  <%= notice %>
		  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>

  <% elsif message_type == "alert" %>
  	<div class="callout alert" data-closable>
		  <%= alert %>
		  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>    
  <% else %>
  	<div class="callout <%= message_type %>" data-closable>
		  <%= message %>
		  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
  <% end %>
<% end %>