<h2> Friends </h2>
   <% if user.friends.any?  %>
      <% user.friends.each do |friend| %>
        <h3> <%= friend.first_name %> </h3>
      <% end %>
   <% else %>
        <text> This user has no friends </text>   
   <% end %>