<h6><strong>友達</strong><span class="friend-count">(<%= link_to "#{user.friends.count}人", user_friends_path(@user.id) %>)</span></h6>
<% if user.friends.any?  %>	
	<div class="user-friends">
		<% user.friends.decorate.each do |friend| %>
			<%= link_to user_path(friend) do %>			
				<div class="image-wrapper">
					<%= image_tag friend.photo, alt: friend.decorate.display_name.truncate(10), class: 'user-friends-image' %>	
					<div class="display-name">
						<%= friend.display_name %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>  	
<% end %>
