<div class="row">
  <div class="columns large-6 large-offset-3 small-12">
    <div class="callout">
      <h3 class="text-center bold">新規会員登録</h3>

      <hr/>

      <div class="callout warning">
        <h6 class="text-center">
          <strong>
            がん患者の配偶者（もしくは恋人）の方のみ<br/>ご登録・ご利用いただけます
          </strong>
        </h6>
      </div>

      <hr/>

      <%= link_to "<i class='fa fa-envelope' aria-hidden='true'></i> メールアドレスで登録する".html_safe, new_user_registration_path, class: 'button-email' %>   

      <div class="or-line">or</div>

      <%= link_to "<i class='fa fa-facebook-official' aria-hidden='true'></i> Facebookで登録する".html_safe, omniauth_authorize_path(:user, :facebook), class: 'button-facebook' %>      

      <hr>

      <p class="text-center">
        <small>
          すでにCancer Patientsアカウントをお持ちの方は、<%= link_to 'こちら', new_user_session_path, class: 'underlined' %>からログインしてご利用ください。
        </small>
      </p>
    </div><!-- callout -->
  </div><!-- columns -->
</div><!-- row -->