@import "settings";

#top-bar-menu {
	border-top: 4px solid $primary-color;
	box-shadow: 0 3px 2px rgba(0,0,0,0.1);

	#brand-name {
		color: $primary-color;
	}

	.menu a {
		color: $dark-gray;
		font-size: 14px;
	}
}