@import "settings";

#top-bar-menu {
	border-top: 4px solid $primary-color;
	box-shadow: 0 3px 2px rgba(0,0,0,0.1);
	margin-bottom: 50px;
	position: relative;
	z-index: 1;

	#brand-name a {
		color: $primary-color;
		font-size: 18px;
		font-weight: 600;
	}

	.menu-text a {
		color: $dark-gray;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.5;
		
	}

	img {
		height: 30px;
	}
}