#top-bar-menu {
	box-shadow: 0 3px 2px rgba(0,0,0,0.1);
	position: relative;
	z-index: 1;

	#brand-name a {
		color: $primary-color;
		font-size: 18px;
		font-weight: 600;
		padding: 0px;
	}

	.menu-text a {
		color: $dark-gray;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.5;
	}

	.nav-prof-img {
		height: 30px;
		width: 30px;
	}
}

.top-bar-menu-logo {
	height: 50px;
}

.top-bar-right {
	padding-top: 7px;
}

.top-bar-search {
	padding-top: 10px;
}

.nav-menu-dropdown-text {
	font-size: 0.7rem;
	padding: 0.5rem;

	a {
		color: $dark-gray !important;
		font-weight: 300 !important;
	}
}

.nav-menu-spacer {
	border-top: 1px solid $light-gray;
  width: 95% !important;
  margin: 0 auto;
}

.top-bar {
	input {
		margin-right: 0.1rem;
	}
}

.menu-search-bar {
	border-radius: 100px;
	height: 2rem;
	padding: 1.1rem;
}

.notifications-menu {
	a {
		&:after {
			display: none !important;
			border: none !important;		
		}
	}
}