var app = {
  onload: function(){    
    this.onDisplayEmotionedClick();
    this.onEditPostClick();
    this.onEditPostVisibilityClick();
    this.onEditCommentClick();
    this.onCommentTriggerClick();
  },

  rebind: function(){    
    this.onDisplayEmotionedClick();
    this.onEditPostClick();
    this.onEditPostVisibilityClick();
    this.onEditCommentClick();
    this.onCommentTriggerClick();
  },

  onCommentTriggerClick: function(){
    $('.js-comment-trigger').on('click', function(){
      var id = $(this).data("post-id");
      var textarea = $(`#js-comment-textarea-${id}`);
      textarea.focus(); 
    })
  },

  onDisplayEmotionedClick: function(){
    $(".js-display-emotions").on('click', function(e){
      e.preventDefault();

      var id = $(this).data("id"); 
      var list = ""; 

      $.ajax({
        url: `/posts/${id}/emotions`,
        type: 'GET',
        dataType: 'JSON',
        context: 'this',
        async: false,
        success: (data) => {       
          list += `<img src="/assets/svgs/like.svg" width="20" />`;
          list += `<span class="emotion-count">${data.length}</span>`
          list += "<hr />";

          data.forEach(function(emotion){            
            list += `<li class="emotion-list">
                      
                      <img src=${emotion.user_photo_url} class="emotion-list-image user-image-small"/>                      
                      <span class="emotion-list-username">
                        <a href=${emotion.user_link}>
                          ${emotion.user_name}
                        </a>
                      </span>
                      <img src="/${emotion.emotion_image_url}" width="20" class="emotion-list-emotion"/>
                    </li>`            
          });
        }
      });

      html = `<div class="tiny reveal" id="display-emotions-modal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
                <ul class="no-bullet">
                  ${list}
                </ul>
              </div>`    

      $("#display-emotions-modal").remove();
      $("#modal").html(html);

      $('#display-emotions-modal').foundation();
      $('#display-emotions-modal').foundation('open');
      
    })
  },

  onEditPostVisibilityClick: function(){
    $(".edit-post-visibility").on("click", function(){
      var id = $(this).data("id");  
      var visibility = $(this).data("visibility");
      
      html = `<div class="tiny reveal" id="edit-post-visibility-modal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
                    <form novalidate="novalidate" class="simple_form edit_post" id="edit_post_${id}" enctype="multipart/form-data" action="/posts/${id}" accept-charset="UTF-8" method="post" data-remote="true">
                      <input type="hidden" name="_method" value="patch">
                      <input type="hidden" name="authenticity_token" value="${window._token}">
                      
                      <select class="select visibility-dropdown" name="post[visibility]" id="post_visibility">
                        <option value="公開">公開</option>
                        <option value="友達にのみ公開">友達にのみ公開</option>
                        <option value="非公開">非公開</option>
                      </select>

                      <input type="submit" name="commit" class="button small secondary" style="margin-bottom: 0px" value="へんこう" data-disable-with="へんこう"> 
                      <button type="button" class="button small warning" style="margin-bottom: 0px" data-close aria-label="Close modal">キャンセル</button>   
                    </form>
                    
                  </div>`    

      $("#edit-post-visibility-modal").remove();
      $("#modal").html(html);

      $(`select option[value='${visibility}']`).attr("selected","selected");

      $('#edit-post-visibility-modal').foundation();
      $('#edit-post-visibility-modal').foundation('open');
    });
  },

  onEditPostClick: function(){
    $(".edit-post").on("click", function(){
      var visibilityDropdown, visibility, id, content, action, name, html;
      isPost = $(this).data("is-post") === true;
      visibility = $(this).data("visibility");
      id = $(this).data("id");  
      content = $(`#js-post-content-${id}`).text().trim();
      action = isPost ? `/posts/${id}` : `/group_posts/${id}`
      name = isPost ? "post" : "group_post";      

      if (isPost) {
        visibilityDropdown = `<select class="select optional" name="post[visibility]" id="post_visibility">
                                <option value="公開">公開</option>
                                <option value="友達にのみ公開">友達にのみ公開</option>
                                <option value="非公開">非公開</option>
                              </select>`;
      } else {
        visibilityDropdown = "";
      }
      
      html = `<div class="tiny reveal" id="edit-post-modal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
                    <form novalidate="novalidate" class="simple_form edit_post" id="edit_post_${id}" enctype="multipart/form-data" action="${action}" accept-charset="UTF-8" method="post" data-remote="true">
                      <input type="hidden" name="_method" value="patch">
                      <input type="hidden" name="authenticity_token" value="${window._token}">
                      
                      <textarea class="text required" rows="5" autofocus="true" name="${name}[content]" id="post_content">${content}</textarea>

                      ${visibilityDropdown}

                      <input type="submit" name="commit" class="button secondary" value="へんこう" data-disable-with="へんこう"> 
                      <button type="button" class="button warning" data-close aria-label="Close modal">キャンセル</button>   
                    </form>
                    
                  </div>`    

      $("#edit-post-modal").remove();
      $("#modal").html(html);

      $(`select option[value='${visibility}']`).attr("selected","selected");

      $('#edit-post-modal').foundation();
      $('#edit-post-modal').foundation('open');
    });
  },

  onEditCommentClick: function(){
    $(".edit-comment").on("click", function(){
      var id = $(this).data("comment-id");  
      var content = $(`#js-comment-content-${id}`).text().trim();
      
      var html = `<div class="tiny reveal" id="edit-comment-modal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
                    <form novalidate="novalidate" class="simple_form edit_comment" id="edit_comment_${id}" enctype="multipart/form-data" action="/comments/${id}" accept-charset="UTF-8" method="post" data-remote="true">
                      <input type="hidden" name="_method" value="patch">
                      <input type="hidden" name="authenticity_token" value="${window._token}">
                      
                      <textarea class="text required" rows="5" autofocus="true" name="comment[text]" id="post_text">${content}</textarea>

                      <input type="submit" name="commit" class="button secondary" value="へんこう" data-disable-with="へんこう">
                      <button type="button" class="button warning" data-close aria-label="Close modal">キャンセル</button>
                    </form>

                  </div>`    

      $("#edit-comment-modal").remove();
      $("#edit-post-modal").remove();
      $("#modal").html(html);

      $('#edit-comment-modal').foundation();
      $('#edit-comment-modal').foundation('open');
    });
  }
}

$(function(){
  app.onload();
})