<% if User.plussed_happy?(apost, current_user) %>
  <%= link_to "UnHappy", post_happy_path(apost,111), method: :delete, remote: true %>
<% else %>
  <%= link_to "Happy", post_happies_path(apost), method: :post, remote: true %>
<% end %>

<span class="post-like">
  <%= pluralize apost.happies.size, "happy" %>
</span>