<% if current_user.plussed_happy?(apost) %>
  <span class="visited"><%= link_to "嬉しいね", happy_path(apost.id), method: :delete, remote: true %></span>
<% else %>
  <%= link_to "嬉しいね", post_happies_path(apost), method: :post, remote: true %>
<% end %>

<span class="post-emotion-count">
  (<%= apost.happies_count %>)
</span>