<% if current_user.happied?(apost) %>
  <span class="visited"><%= link_to "嬉しいね！を取り消す", send("#{apost.class.name.underscore}_unhappies_path", apost), method: :post, remote: true %></span>
<% else %>
  <%= link_to "嬉しいね!", send("#{apost.class.name.underscore}_happies_path", apost), method: :post, remote: true %>
<% end %>


<span class="post-emotion-count">
  (<%= apost.happies_count %>)
</span>