<% if current_user.happied?(apost) %>
  <span class="visited"><%= link_to "嬉しいね！を取り消す", post_unhappies_path(apost.id), method: :post, remote: true %></span>
<% else %>
  <%= link_to "嬉しいね!", post_happies_path(apost), method: :post, remote: true %>
<% end %>


<span class="post-emotion-count">
  (<%= apost.happies_count %>)
</span>