<% if current_user.plussed_happy?(apost) %>
  <%= link_to "UnHappy", happy_path(apost.id), method: :delete, remote: true %>
<% else %>
  <%= link_to "Happy", post_happies_path(apost), method: :post, remote: true %>
<% end %>

<span class="post-like">
  <%= pluralize apost.reload.happies_count, "happy" %>
</span>