/ = link_to "<i class='fi-like'></i> <span class='reaction-label'>いいね！</span>".html_safe, send(EmotionLink.new(emotion: "like", user: current_user, post: post).url, post), method: :post, remote: true, data: {"toggle": "emotion-hover-#{post.id}"}, class: "emotion-link #{'is-liked' if current_user.emotioned_on?(post)}", id: "js-emotion-link-#{post.id}", oncontextmenu: 'app.preventDefaultOnContextMenu()'