<% if current_user.liked?(apost) %>
  <span class="visited"><%= link_to "いいね！を取り消す", send("#{apost.class.name.underscore}_unlikes_path", apost), method: :post, remote: true %></span>
<% else %>
  <%= link_to "いいね！", send("#{apost.class.name.underscore}_likes_path", apost), method: :post, remote: true %>
<% end %> 


<span class="post-emotion-count">
  (<%= apost.likes_count %>)
</span>
