<% if current_user.liked?(apost) %>
  <% like = Like.where(user_id: current_user.id, post_id: apost.id).first %>
  <%= link_to "Unlike", post_like_path(apost, like), method: :delete, remote: true %>
<% else %>
  <%= link_to "Like", post_likes_path(apost), method: :post, remote: true %>
<% end %>

<span class="post-like">
  <%= pluralize apost.likes.size, "like" %>
</span>
