<% if current_user.plussed_sad?(apost) %>
  <%= link_to "UnSad", sad_path(apost.id), method: :delete, remote: true %>
<% else %>
  <%= link_to "Sad", post_sads_path(apost), method: :post, remote: true %>
<% end %>

<span>
  <%= pluralize apost.sads_count, "sad" %>
</span>