<% if current_user.sadded?(apost) %>
  <span class="visited"><%= link_to "悲しいね", sad_path(apost.id), method: :delete, remote: true %></span>
<% else %>
  <%= link_to "悲しいね", post_sads_path(apost), method: :post, remote: true %>
<% end %>


<span class="post-emotion-count">
  (<%= apost.sads_count %>)
</span>