<% if current_user.plussed_sad?(apost) %>
  <%= link_to "悲しいね", sad_path(apost.id), method: :delete, remote: true %>
<% else %>
  <%= link_to "悲しいね", post_sads_path(apost), method: :post, remote: true %>
<% end %>

<span class="post-emotion-count">
  (<%= apost.sads_count %>)
</span>