<% if current_user.sadded?(apost) %>
  <span class="visited"><%= link_to "悲しいねを取り消す", send("#{apost.class.name.underscore}_unsads_path", apost), method: :post, remote: true %></span>
<% else %>
  <%= link_to "悲しいね", send("#{apost.class.name.underscore}_sads_path", apost), method: :post, remote: true %>
<% end %>


<span class="post-emotion-count">
  (<%= apost.sads_count %>)
</span>