.container {	
	min-height: 100vh;
	height: 100%;
	padding: 16px 24px $footer-height;
  margin-bottom: 50px;

  @include breakpoint(small) {
    padding: 0px;
  }
}

.sticky-container {
  z-index: -1;
}