.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

:focus{
  outline: none;
}

body {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
  word-break: break-word;
}

.callout {
  border: 1px solid #e6e6e6;
}

.body-content {
	flex: 1;
  margin-top: 50px;
}

.visited {
	a {
		color: $light-blue;
	}	
}

.button.warning {
	color: $white !important;
}

.muted {
  color: $medium-gray;
}

.file-upload-label {
  color: $secondary-color;
  font-weight: 600;
  cursor: pointer;
}

.orbit-slide {
  z-index: -1;
}

.dz-default {
  clear: both
}