.no-margin-bottom
  margin-bottom: 0px

.mgbt-10
  margin-bottom: 10px

.mgbt-20
  margin-bottom: 20px

.mgbt-30
  margin-bottom: 30px

.mgbt-40
  margin-bottom: 40px

.mgtp-10
  margin-top: 10px

.mgtp-20
  margin-top: 20px

.mgtp-30
  margin-top: 30px

.mgrt-5
  margin-right: 5px

.mgrt-10
  margin-right: 10px

.mglt-10
  margin-left: 10px

.negative-sidemargin-1
  margin-right: -1rem
  margin-left: -1rem