.menu > li > a img, .menu > li > a i, .menu > li > a svg {
  font-size: 18px;
}

.menu {
  li {
    a {
      color: $medium-gray;
      font-size: 0.7rem;      
    }
  }
}

.menu-search-li {
  display: inline-block;
  margin-top: 0.25rem;
}

.menu-user-profile {
  border-right: 1px solid $light-gray;
  padding-right: 10px;
  a {
    color: $dark-gray !important;
  }
}

.menu-user-profile-name {
  padding-left: 5px;
}

.menu-home {
  padding-right: 20px;
  a {
    color: $dark-gray;
  }
}

.menu-post-link {
  color: $secondary-color !important;
}