.select2-container
  margin-bottom: 10px !important

.select2-dropdown
  border: $input-border  
  border-radius: $input-radius
  
.select2-container--default.select2-container--focus .select2-selection--multiple
  border: $input-border  

.select2-container--default .select2-selection--multiple
  border-radius: $input-radius
  border: $input-border

.select2-container--default .select2-search--inline .select2-search__field
  margin-bottom: 0px
  margin-top: 8px
  height: 1rem

.select2-container .select2-selection--single
  height: auto

.select2-container--default .select2-selection--single .select2-selection__rendered
  padding: 0.5rem
  line-height: inherit

.select2-container--default .select2-selection--single .select2-selection__arrow
  top: 5px

.select2-container--default .select2-selection--single
  border: $input-border
  border-radius: $input-radius