footer {
	background: $white;
	min-height: $footer-height;	
	width: 100%;
}

footer nav {
	background: #EEF7F2;
	border-bottom: 1px solid #55AD81;
}

footer nav ul {
	text-align: center;
	margin-bottom: 0px;
}
footer nav li {
	display: inline-block;
	margin: 0 5px;
}
footer nav li a {
	display: inline-block;
	padding: 10px;
}
footer nav li a:before{
	content: '';
	color: #55AD81;
	margin-right: 5px;
	font-family:'FontAwesome';
}
footer p {
	text-align: center;
	margin: 1rem;
}