@import "settings";

footer {
	background: $white;
	border-top: 4px solid $primary-color;
	min-height: $footer-height;	
	padding: 30px;  

	p {
		font-size: 14px;
		margin-bottom: 0px;
	}

	.brand-name {
		color: $primary-color;
	}

	.sub-text {		
		font-weight: 400;
	}

	ul {
		text-align: right;

		li {
			display: inline;
			font-size: 14px;
	    white-space: nowrap;

	    &:after {
	    	content: "|";
	    	margin: 10px;
	    }
		}		
	}
}