.input.error {
  label {
    @extend .is-invalid-label;
  }

  input,
  textarea,
  select {
    @extend .is-invalid-input;
  }

  small.error {
    @extend .form-error;
    @extend .is-visible;
  }
}

.alert-box .alert {
  @extend .callout;
}

.relative-form {
  position: relative;
}

.visibility-dropdown {  
  background-color: #fcfcfc;
  height: 34px;
  font-size: 0.75rem;
  width: 110px;
}

.visibility-dropdown-posts {
  bottom: 0px;
  position: absolute;
  right: 75px;  
  font-family: 'FontAwesome', sans-serif;
}
