@import "settings";

// html {
//   position: relative;
//   min-height: 100%;
// }

// body {
//   margin: 0 0 $footer-height;
// }

body {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-content {
	flex: 1;
}