@import "settings";

body {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-content {
	flex: 1;
}

.visited {
	a {
		color: $light-blue;
	}	
}

.button.warning {
	color: $white !important;
}

.muted {
  color: $medium-gray;
}
