body {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.callout {
  border: 1px solid #e6e6e6;
}

.body-content {
	flex: 1;
  margin-top: 50px;
}

.visited {
	a {
		color: $light-blue;
	}	
}

.button.warning {
	color: $white !important;
}

.muted {
  color: $medium-gray;
}

.pagination {
  display:none
}

.file-upload-label {
  color: $secondary-color;
  font-weight: 600;
  cursor: pointer;
}


