.user-image-small {
	float: left;
	
	img {
		min-height: 35px;
    max-height: 35px;
    min-width: 35px;
    max-width: 35px;
	}
}

img.user-image-small {
  float: none;
  height: 35px;
  width: 35px;
}

.user-image-xs {
  float: none;
  height: 20px;
  width: 20px;
}