@import "settings";

.callout-user-info {
	
	.name {		    
		color: $anchor-color;
		display: block;
    font-size: 22px;
    font-weight: 600;
	}

	.nickname {

	}

	.user-tags {
		display: block;
		margin-top: 10px;
	}
}

.partner-info {
	font-size: 14px;
}

.user-image-lg {
	display: inline-block;

	img {
		max-height: 100px;
	}
}

.user-name {
	display: inline-block;
}

.user-header {
	font-size: 14px;
	font-weight: 600;
}