.callout-user-info {
	
	.name {
		font-size: 24px;
		display: block;
	}

	.nickname {

	}

	.user-tags {
		display: block;
		margin-top: 10px;
	}
}

.partner-info {
	font-size: 14px;
}

.user-image-lg {
	display: inline-block;

	img {
		height: 100px;
	}
}

.user-name {
	display: inline-block;
}