
<footer id="footer">
	<nav>
		<ul>
			<li><a href="https://goo.gl/KqAZdF" target="_blank">Cancer Partnersについて</a></li>
			<li><a href="https://tayori.com/form/d7a475e33ed448380ee02a4cff829a4808989272" target="_blank">お問い合わせ</a></li>
      <li><%= link_to '利用規約', page_path('terms_and_conditions') %></li>
		</ul>
	</nav>
	<p>Copyright &copy; Cancer Partners</p>
</footer>